html, body#body {
    width: 100%;
    background-color: #272727; /* o id foi colocado no body pois o bootstrap estava colocando outro background por cima deste*/
    padding: 10px;
}

* {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    color: #D5D5D5;
    letter-spacing: 0.014em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-cor-gradient-verde {
    background: linear-gradient(134.01deg, #3BF686 40.75%, #4CA9FF 90.52%) !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 700;
}

.div-gradient-especifico {
    background: linear-gradient(134.01deg, #3BF686 40.75%, #4CA9FF 90.52%) !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text;
    -webkit-text-fill-color: #D5D5D5;
    -moz-text-fill-color: #d5d5d5;
    font-weight: 700;
}

.div-texto-especifico {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.font-inter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    
}

.card {
    box-shadow: 5px 5px 2px #000000;
}


/*                       NAVBAR                                    */

.nav-item a {
    float: right;
}


.navbar {
    box-shadow: 0 11px 1px -10px  #4d4d4d;
    background-color: #272727;
}


.navbar-nav .nav-link {
    color: var(--bs-navbar-active-color);
    transition: font-size 0.1s ease-in-out;
}

.navbar-nav .nav-link:hover {
    font-size: 17px;
}

#navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0  #0000;
}

#navbarSupportedContent {
    flex-grow: 0; /* libera o 'float:left' */
}

/*           MAIN CONTENT               */

main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    text-align: center;
    row-gap: 30px;
}

main a.div-texto-especifico {
    transition: font-size 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
    border-bottom: 1px solid #4CA9FF;
}

main a.div-texto-especifico:hover {
    font-size: 11px;
    border-bottom: 0 solid transparent;
}

#h1 {
    width: 75%;
    grid-column: 1 / span 4;
    font-size: 2em;
    line-height: 129%;
    padding: 15px;

    letter-spacing: 1px;
}




/* section biografia */

#img-atras-perfil {
    background: linear-gradient(134.01deg, #3BF686 40.75%, #4CA9FF 90.52%) !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 1 / 2;
    margin-top: 5px;
}

#img-perfil {
    width: 100px;
    height: 100px;
    padding: 2px;
    border-radius: 50%;
    background-image: url(../public/images/picofme.png);
    background-clip: content-box;
    background-size: contain;
}

#section-biografia {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column: 1 / span 4;
    text-align: start;
}

#section-biografia article {
    grid-column: 2 / span 4;
    padding: 10px;
    line-height: 18px;
}

#section-biografia article h3 {
    margin: 0;
    font-weight: 700;
}




/* section sobre mim */

#section-sobre-mim {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column: 1 / span 4;
    text-align: start;
    margin-top: 50px;
}

#section-sobre-mim div h3 {
    margin: 0;
    font-weight: 700;
}

#section-sobre-mim .card {
    width: 150px;
    height: 220px;
    background: #323443;
    margin: 15px;
}

#section-sobre-mim .card table {
    font-size: 7px;
    border-collapse: separate;
}

#section-sobre-mim .card table td {
    padding: 4px;
}

#section-sobre-mim .div-img-card {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: linear-gradient(134.01deg, #3BF686 40.75%, #4CA9FF 90.52%) !important;;
    margin: -25px auto 5px;
}


#section-sobre-mim .div-img-card div {
    width: 22px;
    height: 22px;
    padding: 1px;
    border-radius: 50%;
    background-clip: content-box;
    background-size: cover;
}

#section-sobre-mim .div-img-card #img-javascript-file {
    background-image: url(../public/images/Tech-Stack-Logos/javascript-file-svgrepo-com.svg);
}

#section-sobre-mim .div-img-card #img-trabalho-voluntairo {
    background-image: url(../public/images/Tech-Stack-Logos/chat-emoji-svgrepo-com.svg);
}

#section-sobre-mim #h4-trabalho-voluntario {
    font-size: 16px;
}

#card-trabalho-voluntario p {
    font-size: 7px;
}

#card-trabalho-voluntario {
    grid-column: 4 / 5;
    text-align: center;
}

#card-stacks {
    grid-column: 3 / 4;
    text-align: center;
}

#card-stacks table {
    margin-left: -16px;
}

#texto-sobre-mim {
    padding: 20px;
    width: 180px;
}





/*           MEUS PROJETOS            */

#h3-meus-projetos {
    grid-column: 1 / span 4;
    margin-bottom: -170px;
    
}

#meus-projetos, .meus-projetos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column: 1 / span 4;
    text-align: start;
    margin-top: 50px;
    justify-items: center;
}

#meus-projetos div h3, .meus-projetos div h3 {
    margin: 0;
    font-weight: 700;
}

#meus-projetos .card, .meus-projetos .card {
    width: 250px;
    height: 135px;
    background: #323443;
    margin: 15px;
}

#meus-projetos .card-body, .meus-projetos .card-body {
    padding: 0;
}

.container-meus-projetos {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: auto auto;
}

.p-meus-projetos{
    width: 250px;
}

#primeiro-projeto-destaque, #segundo-projeto-destaque {
    background-color: #272727;
    width: 220px;
    height: 105px;
    margin: 15px;
    background-size: contain;
}

#primeiro-p-destaque, #segundo-p-destaque {
    padding: 25px;
    text-align: center;
}

#primeiro-h3-destaque, #segundo-h3-destaque {
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    font-size: 19px;
}

#primeiro-projeto-btn, #segundo-projeto-btn {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    float: right;
    margin: 5px;
    background-image: url(../public/images/Tech-Stack-Logos/double-right-chevron-svgrepo-com.svg), linear-gradient(134.01deg, #3BF686 40.75%, #4CA9FF 90.52%);
    background-size: contain;
    padding-left: 2px;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out;
}

#primeiro-projeto-btn:hover, #segundo-projeto-btn:hover {
    width: 25px;
    height: 25px;
    margin: 2.5px;
}








/*


A PARTE ANTERIOR FOI COPIADA DP STYLE.CSS






*/

















#main-portfolio #h1 {
    font-size: 35px;
    margin-top: 50px;
}

.card {
    grid-column: 1 / span 4;
    width: 80% !important;
    height: 500px !important;
    text-align: center;
    margin: 0 !important;
    margin-bottom: 150px !important;
    position: relative;
    
}

.card-title {
    padding: 15px;
}

.card-text {
    font-size: 15px;
}

.stack-badge {
    width: 56px;
    height: 56px;
}

.stack-badge2 {
    width: 39px;
    height: 39px;
    margin: 8px;
    border: 0.3px solid #191b1e;
    background-color: #1d1f23;
    padding: 8.5px;
    border-radius: 20%;
}

.card button {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    float: right;
    margin: 5px;
    background-image: url(../public/images/Tech-Stack-Logos/double-right-chevron-svgrepo-com.svg), linear-gradient(134.01deg, #3BF686 40.75%, #4CA9FF 90.52%);
    background-size: contain;
    padding-left: 2px;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out;
    position: absolute;
    left: 94%;
}

.card button:hover {
    width: 25px;
    height: 25px;
    margin: 2.5px;
}

/*


MEDIA QUERIES


*/

@media all and (min-width: 699px) {

    #section-biografia {
        width: 600px !important;
    }

    .p-meus-projetos {
        display: inline-block;
    }

    #container-meus-projetos h3 {
        width: auto;
    }

    .container-texto-destaque {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }
    .card {
        height: 650px !important;
    }
    .card button {
        width: 40px;
        height: 40px;
        left: 90%;
    }

    .card button:hover {
        width: 47px;
        height: 47px;
    }
}





@media all and (max-width: 575px) {
    html, body#body {
        width: 520px;
        max-width: 521px;
    }
}


@media all and (min-width: 1000px) {

    #meus-projetos .container-meus-projetos {
        width: 700px;
        margin: auto;
        
    }

    #section-sobre-mim .card, #texto-sobre-mim {
        width: 300px;
        font-size: 25px;
    }

    #texto-sobre-mim p {
        font-size: 15px !important;
    }

    #section-sobre-mim .card .card-body table {
        font-size: 11px;
        margin-left: 15px;
    }

    #section-sobre-mim .card .card-body p {
        font-size: 12px;
    } 

    article p {
        font-size: 18px !important;
    }

    #img-atras-perfil, #img-perfil {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 60px !important;
        margin: 100px 0 !important;
    }

    #section-sobre-mim .div-img-card div, #section-sobre-mim .div-img-card {
        width: 40px;
        height: 40px;
    
    }

    #section-sobre-mim .div-img-card {
        margin: -37px auto 5px;

    }

    #meus-projetos .card, .meus-projetos .card {
        width: 350px;
        height: 180px;
        margin: 30px;
    }

    #primeiro-projeto-destaque, #segundo-projeto-destaque {
        width: 320px;
        height: 150px;
        margin: 15px;
        background-size: contain;
    }


    /*  PORTFOLIO  */


    .card {
        margin-bottom: 450px !important;
        height: 780px !important;
    }

    .card button {
        width: 60px;
        height: 60px;
        left: 90%;
    }

    .card button:hover {
        width: 70px;
        height: 70px;
    }

}

@media all and (min-width: 1250px) {

    .card button {
        left: 93%;
    }

}


@media all and (max-width: 575px) {

    .card button {
        left: 93%;
    }

}